:root{
/*declaramos nuestras variables*/
    --naranja:#f90 ;
    --gris-oscuro:#27262b ;
    --gris-claro: #ccc;
    --blanco:#fff ;
    --negro: #000;
    --amarillo: #fffb00;
}
/* -------- reset ------ */
/*selector universal,selecciona todos los elementos del html y les aplica... lo que escribamos*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: var(--gris-oscuro);
    background-image: url(images/pattern.jpg);
    /*todo el sitio va a tener sans-serif*/
    font-family: Arial, Helvetica, sans-serif;
        }
    
    .cabecera {
        display: flex;
    /*separa los elementos,cada una en su esquina*/
        justify-content: space-between;
    /*centrarlos verticalmente*/
        align-items: center;
    /*se utiliza para alinear verticalmente los elementos en el eje transversal,elementos de diferentes alturas en el mismo nivel vertical*/
    }
   .cabecera-title {
        color: var(--naranja);
        font-size: 24px;
    /*establecer el tamaño de la fuente de un elemento*/

   }
   .contenido {
        background-color: var(--blanco);
        
      
    }
   .cabecera,
.contenido {
    max-width: 1200px;
    /* Márgen automático me centra los elementos en la pantalla */
    margin-left: auto;
    margin-right: auto; 
    
    
   
}
   /*
   --------- botonera -------
   */
   .nav {
        background-color: antiquewhite;
        
      
   }
   .nav-lista {
         background-color: var(--naranja);
         list-style: none;
         display:flex;
         align-content: block;
         margin-bottom: 32px;
         padding: 12px;
         padding: 40px;
   }
   
   .nav-form {
    flex-grow: 1;
    text-align: right;
    }

   .nav-link {
      
        display: block;
        color: var(--blanco);
        font-weight: bold;
        text-decoration: none;
        border-right: 1px solid var(--amarillo);
     /* 2 arriba y 12 abajo */
        padding: 2px 12px; 
   }
   .nav-link:hover {
    text-decoration: underline;

   }
   .imagen {
    text-align: center;
   }
/*
    ---------- PRODUCTOS -----------
*/
.productos {
    background-color: pink;
    display: grid;
    /* 330px 1fr significa una columna fija de 330px y una que se adapta al tamaño
        1fr va a ocupar "lo que sobra" */
    grid-template-columns: 330px 1fr;
    gap: 20px;
}
.izquierda {
    background-color: var(--verde);
}
.botonera {
    display: flex;
    flex-direction: column;
  }
  
  .botonera button {
    margin-bottom: 10px;
  }
.derecha {
    background-color: lightblue;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    
}

.producto {
    background-color: chocolate;
   
}
.producto-title {
    margin-bottom: 12px;
    font-size: 20px;
}
.producto-contenedor {
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 20px;
}

.producto img {
  float: left;
}

.producto p {
  text-align: right;
}
/*--- newsletter----
*/
.newsletter {
    background-image: linear-gradient(
        var(--blanco) 65%
        var(--gris_claro)
    );
    margin-bottom: 250px;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid var(--gris-oscuro);
    /*redondeamos esquinas*/
    border-radius: 4px;
    padding: 12px 32px;

    display:flex;
    /*centramos en vertical*/
    align-items:center;
}
.newsletter-texto{
    margin-left: 32px;
}
.newsletter-parrafo2 {
    margin-left: 32px;
}
.newsletter-form{
    flex-grow: 1;
    text-align: right
}
.newsletter-form input[type="submit"] {
    background: none;
    border: 0;
    font-weight: bold;
    /*devolvemos la mano*/
    cursor: pointer;
}

