:root{
    --naranja:#f90 ;
    --gris-oscuro:#27262b ;
    --gris-claro: #ccc;
    --blanco:#fff ;
    --negro: #000;
}
body {
    background-color: var(--gris-oscuro);
    background-image: url(images/pattern.jpg);
    font-family: Arial, Helvetica, sans-serif;
    .cabecera,
    .contenido {
        max-width: 1200px;
 
        margin-left: auto;
        margin-right: auto;
    }
    
    .cabecera {
        display: flex;
        justify-content: space-between;
      
        align-items: center;
    }
    .cabecera-title {
        color: var(--naranja);
        font-size: 24px;
    }
    .contenido {
        background-color: var(--blanco);
    }